* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Serif TC', serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/image/background.jpg");
  background-repeat: no-repeat;
  background-position: centcer;
  background-size: 100%;
}

body {
  background: #1f1e28;
  background: linear-gradient(106deg, #1f1e28 21%, rgba(238, 238, 238, 0) 66%);
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  color: #fff;
  padding: 0 12%;
}

.mainContainer h1 {
  font-size: 100px;
  font-weight: 900;
  height: 80%;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.mainContainer .textBox {
  width: 372px;
  height: 60%;
}

.mainContainer .textBox h2 {
  margin-top: 40px;
  margin-bottom: 24px;
}

.mainContainer .textBox ul {
  list-style: none;
  font-size: 16px;
}

.mainContainer .textBox ul li {
  margin-top: 4px;
}

.mainContainer .textBox .selectBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mainContainer .textBox .selectBox button {
  height: 40px;
  width: 112px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 16px;
  cursor: pointer;
}

.mainContainer .textBox .selectBox button:hover {
  background-color: #fff;
  color: #000;
}

.mainContainer .textBox .selectBox .selectedBtn {
  background-color: #fff;
  color: #000;
}

.startSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  height: 20%;
  bottom: 0;
  padding-left: 12%;
  width: 100%;
  background-color: #fff;
}

.startSection .startBtn {
  height: 55px;
  width: 350px;
  font-size: 24px;
  font-weight: 900;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.resultSection {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgba(98, 98, 98, 0) 0%, black 85%);
  padding: 40px;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.resultSection .introductionResult {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 2px rgba(255, 255, 255, 0.3);
  position: relative;
}

.resultSection .introductionResult .text1, .resultSection .introductionResult .text2, .resultSection .introductionResult .text3, .resultSection .introductionResult .text4 {
  position: absolute;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.301);
  padding: 24px;
  background-color: black;
}

.resultSection .introductionResult .text1 {
  left: -40px;
  top: -40px;
}

.resultSection .introductionResult .text2 {
  right: -40px;
  top: -40px;
}

.resultSection .introductionResult .text3 {
  left: -40px;
  bottom: -40px;
}

.resultSection .introductionResult .text4 {
  right: -40px;
  bottom: -40px;
}

.resultSection .introductionResult .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.resultSection .introductionResult .info h2 {
  font-size: 240px;
}

.resultSection .introductionResult .info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  letter-spacing: 48px;
  text-indent: 2rem;
}

.stickSection {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.stickSection .poem {
  height: 80%;
  width: 30%;
  color: white;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.stickSection .poem p {
  font-weight: 900;
  font-size: 40px;
  line-height: 80px;
}

.stickSection .poem span {
  font-size: 16px;
}

.stickSection .resultText {
  color: #fff;
  width: 352px;
  height: 60%;
}

.stickSection .resultText h2 {
  font-size: 40px;
  margin-top: 40px;
}

.stickSection .resultText p {
  font-size: 16px;
  margin-top: 24px;
}

.stickSection .resultText button {
  height: 55px;
  width: 100%;
  font-size: 24px;
  margin-top: 40px;
  border: 1px solid #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  cursor: pointer;
}

.none {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.displayNone {
  display: none;
}
/*# sourceMappingURL=style.css.map */