@mixin flex($a,$j){
    display: flex;
    align-items: $a;
    justify-content: $j;
}

@mixin size($h,$w){
    height: $h;
    width: $w;
}

@mixin pad{
    @media(max-width:768px){
      @content;
    }
}

@mixin mobile{
    @media(max-width:376px){
      @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif TC', serif;
    transition: 0.2s;
    user-select: none;
    // border: 2px solid white;
}

html,body {
    @include flex(center,center);
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../image/background.jpg');
    background-repeat: no-repeat;
    background-position: centcer;
    background-size: 100%;
}

body {
    background: rgb(31,30,40);
    background: linear-gradient(106deg, rgba(31,30,40,1) 21%, rgba(238,238,238,0) 66%);
}
.mainContainer {
    @include flex(center,space-between);
    flex-direction: row-reverse;
    width: 100%;
    flex: 8;
    color: #fff;
    padding:  0 12%;    
    h1 {
        font-size: 100px;
        font-weight: 900;
        height: 80%;
        writing-mode: vertical-lr ;
    }
    .textBox {
        width: 372px;
        height: 60%;
        h2 {
            margin-top: 40px;
            margin-bottom: 24px;
        }
        ul {
            list-style: none;
            font-size: 16px;
            li {
                margin-top: 4px;
            }
        }
        .selectBox {
            @include flex(center,space-around);
            flex-wrap: wrap;
            button {
                @include size(40px,112px);
                background-color: rgba(255, 255, 255, 0);
                font-size: 16px;
                border: 1px solid #fff;
                color: #fff;
                margin-top: 16px;
                cursor: pointer;
            }
            button:hover {
                background-color: #fff;
                color: #000;
            }
            .selectedBtn {
                background-color: #fff;
                color: #000;
            }
        }
    }
}

.startSection {
    @include flex(center,flex-start);
    position: absolute;
    height: 20%;
    bottom: 0;
    padding-left: 12%;
    width: 100%;
    background-color: #fff;
    .startBtn {
        @include size(55px,350px);
        font-size: 24px;
        font-weight: 900;
        background-color: #fff;
        border: 1px solid #000;
        cursor: pointer;
    }
    // .startBtn:hover{
    //     background-color: rgb(19,22,22);
    //     color: #fff;
    // }
}

.resultSection {
    @include size(100%,100%);
    background: radial-gradient(circle, rgba(98,98,98,0) 0%, rgba(0,0,0,1) 85%);
    padding: 40px;
    position: relative;
    transition: 0.8s;
    .introductionResult {
        @include size(100%,100%);
        @include flex(center,center);
        border: solid 2px rgba(255, 255, 255, 0.3);
        position: relative;
        .text1,.text2,.text3,.text4 {
            position: absolute;
            font-size: 36px;
            color: rgba(255, 255, 255, 0.301);
            padding: 24px;
            background-color: rgba(0,0,0,1);
        }
        .text1 {
            left: -40px;
            top: -40px;
        }
        .text2 {
            right: -40px;
            top: -40px;
        }
        .text3 {
            left: -40px;
            bottom: -40px;
        }
        .text4 {
            right: -40px;
            bottom: -40px;
        }
        .info {
            @include flex(center,center);
            flex-direction: column;
            color: #fff;
            h2 {
                font-size: 240px;
            }
            p {
                @include flex(center,center);
                font-size: 24px;
                letter-spacing: 48px;
                text-indent: 2rem;
            }
        }
    }
    
}

.stickSection {
    @include size(100%,100%);
    @include flex(center,space-around);
    flex-direction: row-reverse;
    transition: 1s;
    .poem {
        @include size(80%,30%);
        color: white;
        writing-mode: vertical-rl ;
        p {
            font-weight: 900;
            font-size: 40px;
            line-height: 80px;
            letter-spacing: 8px;
        }
        span {
            font-size: 16px;
        }
        img {
            @include size(180px,auto);
            position: absolute;
            right: 15%;
            bottom: 5%;
        }
    }
    .resultText {
        color: #fff;
        width: 352px;
        height: 60%;
        h2 {
            font-size: 40px;
            margin-top: 40px;
        }
        p {
            font-size: 16px;
            margin-top: 24px;          
        }
        button {
            @include size(55px,100%);
            font-size: 24px;
            margin-top: 40px;
            border: 1px solid #FFFFFF;
            background-color: rgba(0,0,0,0);
            color: #fff;
            cursor: pointer;
        }
    }
}


.none {
    opacity: 0;
    transition: 0.5s;
}

.displayNone {
    display: none;
}